@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Instrument+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Instrument+Serif:ital@1&family=Russo+One&display=swap');

a{text-decoration: none;}
html {
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    margin: 0;padding: 0;

}

/* section{
    margin: 5rem;
} */

.btn{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    line-height: 2;
    border-radius: 2rem;
    background: rgb(46, 44, 44);
    text-transform: capitalize;
    margin-top: .5rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover{
    font-weight: bold;
    color: black;
    background: palevioletred;
}

section{
    margin-bottom: 2rem;
}

/* header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    padding-right: 25px;
    align-items: center;
    justify-content:space-between;
    z-index:1000;
    box-shadow: var(--box-shadow);}
.logo{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Great Vibes',cursive;
    color: #fff;
    cursor: pointer;
}
.logo span{
    font-size: 45px;
    color: #9a533d;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
}

header .navbar a.active, header .navbar a:hover{
    background: #94c2dc;
}

header .icons i, header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover, header .icons a:hover{
    color: black;
    background: #94c2dc;
    transform: rotate(360deg);
}

header .icons #menu{
    display: none;
}

.home .heading{
    background: #edf1f7;
}
.home .heading .view-header{
    font-family: Lato,sans-serif;
}
.home .heading .view-header .page-heading{
    color: #fff;
}
.home .heading .view-header .page-heading h1{
    background: #edf1f7;
    text-align: center;
    font-size: 24px;
    color: #1c2120;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.card-up-box{
    position: relative;
    width: 90%;
    margin: -23% auto auto;
}
.card-up-box ul{
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 280px;
}
.card-up-box ul li{
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 8px;
    padding: 12px;
    margin-right: 1%;
    margin-left: 1%;
    min-height: 280px;
}
.card-up-box ul li a img{
    border-radius: 4px;
    min-height: 240px;
    max-width: 100%;
    min-width: 240px;
    transition: all .7s ease;
} 
.card-up-box ul li a img:hover{
    transform: scale(1.1);
}
.card-up-box ul li h4{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #3a2414;
    padding-top: 15px;
    padding-bottom: 7px;
}
.productoccasion
{
    min-height: 594px
}
.productoccasion .productoccasion_inner {
    display: block;
    width: 90%;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 345px;
}
.productoccasion .productoccasion_inner .heading h2{
    position: relative;
    text-align: center;
    margin: 0;
    font-family: 'Bitter', serif;
    font-family: 'Instrument Serif', serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #1c2120;
}
.productoccasion .productoccasion_inner .heading h5{
    margin-top: 5px;
    margin-bottom: 0;
    opacity: .7;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2120;
    text-align: center;
}
.productoccasion_inner .item .content-slider{
    white-space: normal;
    overflow: hidden;
    position: inherit;
    min-height: 415px;
    display: flex;
    align-items: center;

}

.productoccasion_inner .item .content-slider-item{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform,transition;
}


.productoccasion_inner .item .content-slider-item .productslider-item{
    margin-right: 0;
    transition: all .7s ease;
    background-color: #fff;
    padding-bottom: 10px;
}
.productslider-item a {
    margin-right: 20px;
    padding: 0;
    border-radius: 0;
    border: 1px transparent;
    display: block;
}
.productslider-item a .product_img
{
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .7s ease;
}
.productslider-item a .product_img:hover{
    transform:  scale(1.1);
}
.productslider-item a .prod_name
{
    padding-left: 20px;
    font-size: 20px;
    font-family: Lato;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0 0 6px;
    opacity: .8;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2120;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.productslider-item a .prod_price{
    padding-left: 30px;
    font-weight: 700;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2120;
}

.flower-by-color h2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Bitter', serif;
    font-family: 'Instrument Serif', serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #1c2120;
}
.flower-by-color ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 22px 0 0;
}
.flower-by-color .slideupdown .li{
    width: 13%;
    margin-right: 4%;
    margin-bottom: 40px;
    border: 1px solid transparent;
    transition: all .2s ease;
}

.flower-by-color .slideupdown li a {
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1c2120;
}
.flower-by-color .slideupdown li a span{
    display: block;
    margin: 5px 0 0;
    font-family: "Lato",sans-serif;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1c2120;
}
.flower-by-color .slideupdown li a span img{
    transition: all .7s ease;
}
.flower-by-color .slideupdown li a span img:hover
{
    transform:  scale(1.1);
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, black, palevioletred);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    margin-top: -5px;
    line-height: 28px;
    font-size: 15px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.7rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: palevioletred;
}

.footer-bottom{
    background: linear-gradient(to left, black, palevioletred);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    color: palevioletred;
    text-transform: uppercase;
    font-weight: 200;
}
